/*Big Table to 1200px (widths smaller than 1140px row)*/
@media only screen and (max-width: 1200px) {
    .greet-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}

/*Small table to big tablet: from 768px to 1023px*/
@media only screen and (max-width: 1023px) {
    .abt-me-icons i {
        display: block;
        font-size: 250%;
    }

    .abt-me-icons p {
        text-align: center;
        line-height: 145%;
        font-size: 90%
    };
    
}

/*Small phones from small tables: from 481 to 767px*/
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row, 
    .greet-text-box {
        padding: 0 4%; 
    }
    
    .col { 
        width: 100%;  
        margin: 0 0 4% 0;
    }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }    
    
    .abt-me-icons {
        margin: 10% 0 30% 0;
    }
    
    .abt-me-icons i {
        margin-left: 47.5%;
    }
}

/*Small phones from 0 to 480px*/
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    
    .greet-text-box h1 {
        font-size: 165%;
    }
    
    .greet-text-box h2 {
        font-size: 120%;
    }
    
    .greet-text-box p {
        font-size: 100%;
    }
    
    .big-icons.col {
        width: 100%;
        margin: 0 10% 10% 0;
    } 
}